<header id="header" >
  <div class="container">
    <div class="row">
      <a class="logo pull-left" href="{{ siteUrl }}">{{ siteName }}</a>

      <nav class="main-nav">
        <ul>
          <li>
            <a href=""></a>
          </li>
        </ul>
      </nav>

      <nav class="mobile-nav">
        <ul>
          <li>
            <a href=""></a>
          </lI>
          <li class="mobile-close">
            <a href="#close-mobile-nav" class="mobile-close-link">
              <img src="/dist/images/icons/icon-black-x.svg" alt="Close">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div><!-- end .container -->
</header>
