<!-- Google Meta -->
<link rel="author" href="https://plus.google.com/+<site-here>/posts"/>
<link rel="publisher" href="https://plus.google.com/+<site-here>"/>
<meta itemprop="name" content="{{ siteName }}">
<meta itemprop="image" content="{{ siteUrl}}/dist/images/logo-2x.png">
<meta name="description" content="{{ seoDescription }}">
<meta name="keywords" content="">

<!-- Facebook Meta -->
<meta property="og:title" content="{{ siteName }}" />
<meta property="og:description" content="{{seoDescription}}" />
<meta property="og:image" content="{{ siteUrl}}/dist/images/logo-2x.png" />
<meta property="og:url" content="{{ siteUrl}} " />
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="" />

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@<site-here>">
<meta name="twitter:creator" content="@<site-here>">
<meta name="twitter:title" content="{{siteName}}">
<meta name="twitter:description" content="{{ seoDescription }}">
<meta name="twitter:image" content="{{ siteUrl}}/dist/images/logo-2x.png">
